@{
    ViewData["Title"] = "Home Page";
}
@model Pet

<h2>Hello! Add a Pet to our Project!</h2>
<h3>@ViewBag.SecretMessage</h3>

<form method="POST" asp-controller="Home" asp-action="AddPet">
    <label>Name</label>
    <span asp-validation-for="Name"></span>
    <input asp-for="Name">

    <label>Pet Type</label>
    <span asp-validation-for="Type"></span>
    <input asp-for="Type">

    <label>Age</label>
    <span asp-validation-for="Age"></span>
    <input asp-for="Age">

    <label>Hair Color</label>
    <span asp-validation-for="HairColor"></span>
    <input asp-for="HairColor">

    <input type="submit" value="Add Pet">
</form>